mixin bread
	ul.bread(class= attributes.class)

		li.bread__item
			a.link.link_line_none.bread__link(href= global.link_home) Главная

		- var hasMenuItem = false;

		each val in menu

			if val.link == page.link
				li.bread__item
					span.bread__text= val.name

				- hasMenuItem = true;
				- break;

			else

				if val.sub

					each sub in val.sub.items

						if sub.link == page.link
							li.bread__item
								a.link.link_line_none.bread__link(href= val.link)= val.name
							li.bread__item
								span.bread__text= sub.name

							- hasMenuItem = true;
							- break;

		if !hasMenuItem
			li.bread__item
				span.bread__text= page.title