$name: link;

.#{$name} {
	@extend a:not([class]);

	&__icon {
		width: 2em;
		height: 1.334em;
		max-height: none;
		position: absolute;
		right: 100%;
		padding-right: .4em;
		top: 50%;
		transform: translateY(-50%);
	}

	&_icon_before {
		position: relative;
		margin-left: 30px;
		fill: $color-main;

		&:hover {
			fill: $color-main-hover;
		}

		&:active {
			fill: $color-main-active;
		}
	}

	&_nowrap {
		white-space: nowrap;
	}
}