$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__separator {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $color-gray-light;
	}

	&__black {
		background: black;
	}

	&__bread-wrap {
		padding: 15px 0;
		border-bottom: 1px solid $color-gray-light;
	}
}