$name: text;

.#{$name} {

	> * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: black;
		font-family: $font-second;
		font-weight: bold;
		text-transform: uppercase;
		margin: 2em 0 1em;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 14px;
	}

	ol,
	ul {
		margin: 1em 0 1em 2em;

		li {
			margin: .5em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}