$name: title;

.#{$name} {
	color: black;
	font-family: $font-second;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;

	&_size_lg {
		font-size: 22px;
	}

	&_size_sm {
		font-size: 14px;
	}

	&_weight_normal {
		font-weight: normal;
	}
}