include global
include svg

mixin logo(data)

	+g-tag((data && data.link === false) ? '' : 'a')(
		class='logo'
		class= attributes.class
		href= global.link_home
	)
		.logo__wrap
			+svg('logo', 'logo__icon')