mixin news-simple(data)
	.news-simple
		.title.title_size_sm.color-main.mb-5.news-simple__date= data.date
		.title.title_weight_normal.news-simple__title.mb-5= data.title
		a.link.link_italic.link_size_sm.news-simple__link(href= data.link) Подробнее