include ../components/bread
include ../components/sidebar
include ../mixins/subcat

.main__bread-wrap.mb-30
	.container
		+bread

.container

	.mb-20
		h1.title.title_size_lg= page.title

	.row

		.d-none.d-md-block.col-md-4.order-md-1.col-lg-3.mb-15
			+sidebar

		.col-md-8.col-lg-9.mb-15

			- for (var i = 0; i < 5; i++) {
				.mb-30
					.mb-15
						h2.title Упаковка из полипропиленовой плёнки

					.slider.slider_space(
						data-cols='1'
						data-sm-cols='2'
						data-lg-cols='3'
					)
						.slider__body

							- for (var j = 0; j < 6; j++) {
								.slider__item
									+subcat({
										title: 'Подбор пищевого оборудования',
										link: 'detail-packaging.html',
										img: 'img/content/subcat.png'
									})
							- }
			- }