include ../mixins/slider-single
include ../mixins/cat
include ../mixins/news-simple

.mb-30
	+slider-single([
		{link: '#', img: 'img/content/slider-single.jpg'},
		{link: '#', img: 'img/content/slider-single.jpg'},
		{link: '#', img: 'img/content/slider-single.jpg'}
	])

.container
	.row.mb-15.mb-md-0.justify-content-center

		- for (var i = 0; i < 3; i++) {
			.col-md-6.col-xl-4.mb-15.mb-md-30
				+cat({
					title: 'Подбор пищевого оборудования',
					link: '#',
					img: 'img/content/cat.jpg',
					desc: 'Подбор оборудования по типу: вертикальные и горизонтальные фасовочно-упаковочные аппараты, дозаторы, линии розлива, отсадочные машины, комплексы образования групповой упаковки и дополнительное оборудование.'
				})
		- }

	.mb-50
		.block

			.row.justify-content-between.mb-30
				.col-auto
					.title Новости
				.col-auto
					a.link.text-sm.text-italic(href='#') Все новости

			.row.justify-content-center.mb-neg-30

				- for (var i = 0; i < 3; i++) {
					.col-md-6.col-lg-4.mb-30
						+news-simple({
							date: '07.02.2019',
							title: 'В «таурас-феникс» прошло совещание по открытию совместных отраслевых кафедр с отечественными промышленными предприятиями',
							link: '#'
						})
				- }

	.mb-50
		.title.text-center.mb-15 Производство упаковочного оборудования для пищевой промышленности
		.text
			p АО «ТАУРАС-ФЕНИКС» — лидер российского производства упаковочного оборудования для пищевой промышленности. Компания отличается инновационностью, гибкостью и богатым практическим опытом в разработке и производстве профессионального  упаковочного, фасовочно-упаковочного оборудования. Наши упаковочные машины сочетают в себе высокие эксплуатационные показатели, функциональность и европейское качество.
			p Компания гордится штатом квалифицированных инженеров-конструкторов, мощнейшим металлообрабатывающим комплексом, компетентностью департамента продаж, высоким уровнем сервиса и выполненными проектами.
			p Продукция завода позволяет решать как частные, так и комплексные задачи по оснащению предприятий пищевой, фармацевтической, химической отраслей фасовочно-упаковочным оборудованием. Ассортимент компании насчитывает более 150 моделей оборудования.