include ../components/social
include ../mixins/svg
include ../mixins/logo
include ../mixins/cat

.container
	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-4
			.title .title
		.col-4
			.title.title_size_lg .title.title_size_lg

	.row.main__separator
		.col-3
			a.link(href='#') .link
		.col-3
			a.link.link_icon_before(href='#')
				| .link.link_icon_before
				+svg('dialog', 'link__icon')
		.col-3
			a.link.link_line_none(href='#') .link.link_line_none
		.col-3
			a.link.link_nowrap(href='#') .link.link_nowrap

	.row.main__separator
		.col-2.mb-15
			.btn .btn
		.col-2.mb-15
			a.btn(href='#') a.btn
		.col-2.mb-15
			input.btn(type='button' value='input.btn')
		.col-2.mb-15
			button.btn button.btn
		.col-3.mb-15
			.btn.btn_wide .btn.btn_wide
		.col-3.mb-15
			.btn.btn_size_lg .btn.btn_size_lg
		.col-3.mb-15
			.btn.btn_text_lg .btn.btn_text_lg
		.col-3.mb-15
			.btn.btn_text_xl .btn.btn_text_xl
		.col-3.mb-15
			.btn.btn_color_gray .btn.btn_color_gray

	.row.main__separator
		.col-12
			+social(social)

	.row.main__separator
		.col-3
			+logo()
		.col-3
			+logo({
				link: false
			})

	.row.main__separator
		.col-4
			+cat({
				'title': 'Подбор пищевого оборудования',
				'link': '#',
				'img': 'img/content/cat.jpg',
				'desc': 'Подбор оборудования по типу: вертикальные и горизонтальные фасовочно-упаковочные аппараты, дозаторы, линии розлива, отсадочные машины, комплексы образования групповой упаковки и дополнительное оборудование.'
			})