.container
	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-12
			.title .title