include ../components/social
include ../mixins/svg

.container
	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-12
			.title .title

	.row.main__separator
		.col-3
			a.link(href='#') .link
		.col-3
			a.link.link_icon_before(href='#')
				| .link.link_icon_before
				+svg('dialog', 'link__icon')
		.col-3
			a.link.link_line_none(href='#') .link.link_line_none
		.col-3
			a.link.link_nowrap(href='#') .link.link_nowrap

	.row.main__separator
		.col-12
			+social(social)