html {
	height: 100%;
	font-size: 6px;

	@include screen-sm() {
		font-size: 7px;
	}

	@include screen-md() {
		font-size: 8px;
	}

	@include screen-lg() {
		font-size: 9px;
	}

	@include screen-xl() {
		font-size: 10px;
	}
}

body {
	height: 100%;
	font-size: 15px;
	font-family: $font-main;
	color: $color-text;
	line-height: 1.5;

	&.noscroll {
		overflow: hidden;
	}
}

input,
textarea {
	// appearance: none;
	// border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:not([class]),
	&[class=''] {
		@extend %transition;
		color: $color-main;

		&:hover {
			color: $color-main-hover;
		}

		&:active {
			color: $color-main-active;
		}
	}
}

hr {
	margin: 0;
	height: 1px;
	border: none;
	background: $color-gray-light;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
}

::selection {
	color: white;
	background: $color-main;
}

.text-left {
	text-align: left !important;
}

.text-sm-left {

	@include screen-sm() {
		text-align: left !important;
	}
}

.text-md-left {

	@include screen-md() {
		text-align: left !important;
	}
}

.text-lg-left {

	@include screen-lg() {
		text-align: left !important;
	}
}

.text-xl-left {

	@include screen-xl() {
		text-align: left !important;
	}
}

.text-center {
	text-align: center !important;

	&.title::after {
		margin: 0 auto;
	}
}

.text-sm-center {

	@include screen-sm() {
		text-align: center !important;
	}

	&.title::after {

		@include screen-sm() {
			margin: 0 auto;
		}
	}
}

.text-md-center {

	@include screen-md() {
		text-align: center !important;
	}

	&.title::after {

		@include screen-md() {
			margin: 0 auto;
		}
	}
}

.text-lg-center {

	@include screen-lg() {
		text-align: center !important;
	}

	&.title::after {

		@include screen-lg() {
			margin: 0 auto;
		}
	}
}

.text-xl-center {

	@include screen-xl() {
		text-align: center !important;
	}

	&.title::after {

		@include screen-xl() {
			margin: 0 auto;
		}
	}
}

.text-right {
	text-align: right !important;
}

.text-sm-right {

	@include screen-sm() {
		text-align: right !important;
	}
}

.text-md-right {

	@include screen-md() {
		text-align: right !important;
	}
}

.text-lg-right {

	@include screen-lg() {
		text-align: right !important;
	}
}

.text-xl-right {

	@include screen-xl() {
		text-align: right !important;
	}
}

.text-sm {
	font-size: 12px;
}

.text-xs {
	font-size: 9px;
}

.text-italic {
	font-style: italic;
}

.color-white {
	color: white;
}

.upper {
	text-transform: uppercase;
}

.nowrap {
	white-space: nowrap;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-neg-5 {
	margin-bottom: -5px !important;
	overflow: hidden;
}

.mb-neg-10 {
	margin-bottom: -10px !important;
	overflow: hidden;
}

.mb-neg-15 {
	margin-bottom: -15px !important;
	overflow: hidden;
}

.mb-neg-20 {
	margin-bottom: -20px !important;
	overflow: hidden;
}

.mb-neg-30 {
	margin-bottom: -30px !important;
	overflow: hidden;
}

.mb-neg-50 {
	margin-bottom: -50px !important;
	overflow: hidden;
}

.mb-sm-0 {

	@include screen-sm() {
		margin-bottom: 0 !important;
	}
}

.mb-sm-5 {

	@include screen-sm() {
		margin-bottom: 5px !important;
	}
}

.mb-sm-10 {

	@include screen-sm() {
		margin-bottom: 10px !important;
	}
}

.mb-sm-15 {

	@include screen-sm() {
		margin-bottom: 15px !important;
	}
}

.mb-sm-20 {

	@include screen-sm() {
		margin-bottom: 20px !important;
	}
}

.mb-sm-30 {

	@include screen-sm() {
		margin-bottom: 30px !important;
	}
}

.mb-sm-50 {

	@include screen-sm() {
		margin-bottom: 50px !important;
	}
}

.mb-neg-sm-5 {

	@include screen-sm() {
		margin-bottom: -5px !important;
		overflow: hidden;
	}
}

.mb-neg-sm-10 {

	@include screen-sm() {
		margin-bottom: -10px !important;
		overflow: hidden;
	}
}

.mb-neg-sm-15 {

	@include screen-sm() {
		margin-bottom: -15px !important;
		overflow: hidden;
	}
}

.mb-neg-sm-20 {

	@include screen-sm() {
		margin-bottom: -20px !important;
		overflow: hidden;
	}
}

.mb-neg-sm-30 {

	@include screen-sm() {
		margin-bottom: -30px !important;
		overflow: hidden;
	}
}

.mb-neg-sm-50 {

	@include screen-sm() {
		margin-bottom: -50px !important;
		overflow: hidden;
	}
}

.mb-md-0 {

	@include screen-md() {
		margin-bottom: 0 !important;
	}
}

.mb-md-5 {

	@include screen-md() {
		margin-bottom: 5px !important;
	}
}

.mb-md-10 {

	@include screen-md() {
		margin-bottom: 10px !important;
	}
}

.mb-md-15 {

	@include screen-md() {
		margin-bottom: 15px !important;
	}
}

.mb-md-20 {

	@include screen-md() {
		margin-bottom: 20px !important;
	}
}

.mb-md-30 {

	@include screen-md() {
		margin-bottom: 30px !important;
	}
}

.mb-md-50 {

	@include screen-md() {
		margin-bottom: 50px !important;
	}
}

.mb-neg-md-5 {

	@include screen-md() {
		margin-bottom: -5px !important;
		overflow: hidden;
	}
}

.mb-neg-md-10 {

	@include screen-md() {
		margin-bottom: -10px !important;
		overflow: hidden;
	}
}

.mb-neg-md-15 {

	@include screen-md() {
		margin-bottom: -15px !important;
		overflow: hidden;
	}
}

.mb-neg-md-20 {

	@include screen-md() {
		margin-bottom: -20px !important;
		overflow: hidden;
	}
}

.mb-neg-md-30 {

	@include screen-md() {
		margin-bottom: -30px !important;
		overflow: hidden;
	}
}

.mb-neg-md-50 {

	@include screen-md() {
		margin-bottom: -50px !important;
		overflow: hidden;
	}
}

.mb-lg-0 {

	@include screen-lg() {
		margin-bottom: 0 !important;
	}
}

.mb-lg-5 {

	@include screen-lg() {
		margin-bottom: 5px !important;
	}
}

.mb-lg-10 {

	@include screen-lg() {
		margin-bottom: 10px !important;
	}
}

.mb-lg-15 {

	@include screen-lg() {
		margin-bottom: 15px !important;
	}
}

.mb-lg-20 {

	@include screen-lg() {
		margin-bottom: 20px !important;
	}
}

.mb-lg-30 {

	@include screen-lg() {
		margin-bottom: 30px !important;
	}
}

.mb-lg-50 {

	@include screen-lg() {
		margin-bottom: 50px !important;
	}
}

.mb-neg-lg-5 {

	@include screen-lg() {
		margin-bottom: -5px !important;
		overflow: hidden;
	}
}

.mb-neg-lg-10 {

	@include screen-lg() {
		margin-bottom: -10px !important;
		overflow: hidden;
	}
}

.mb-neg-lg-15 {

	@include screen-lg() {
		margin-bottom: -15px !important;
		overflow: hidden;
	}
}

.mb-neg-lg-20 {

	@include screen-lg() {
		margin-bottom: -20px !important;
		overflow: hidden;
	}
}

.mb-neg-lg-30 {

	@include screen-lg() {
		margin-bottom: -30px !important;
		overflow: hidden;
	}
}

.mb-neg-lg-50 {

	@include screen-lg() {
		margin-bottom: -50px !important;
		overflow: hidden;
	}
}

.mb-xl-0 {

	@include screen-xl() {
		margin-bottom: 0 !important;
	}
}

.mb-xl-5 {

	@include screen-xl() {
		margin-bottom: 5px !important;
	}
}

.mb-xl-10 {

	@include screen-xl() {
		margin-bottom: 10px !important;
	}
}

.mb-xl-15 {

	@include screen-xl() {
		margin-bottom: 15px !important;
	}
}

.mb-xl-20 {

	@include screen-xl() {
		margin-bottom: 20px !important;
	}
}

.mb-xl-30 {

	@include screen-xl() {
		margin-bottom: 30px !important;
	}
}

.mb-xl-50 {

	@include screen-xl() {
		margin-bottom: 50px !important;
	}
}

.mb-neg-xl-5 {

	@include screen-xl() {
		margin-bottom: -5px !important;
		overflow: hidden;
	}
}

.mb-neg-xl-10 {

	@include screen-xl() {
		margin-bottom: -10px !important;
		overflow: hidden;
	}
}

.mb-neg-xl-15 {

	@include screen-xl() {
		margin-bottom: -15px !important;
		overflow: hidden;
	}
}

.mb-neg-xl-20 {

	@include screen-xl() {
		margin-bottom: -20px !important;
		overflow: hidden;
	}
}

.mb-neg-xl-30 {

	@include screen-xl() {
		margin-bottom: -30px !important;
		overflow: hidden;
	}
}

.mb-neg-xl-50 {

	@include screen-xl() {
		margin-bottom: -50px !important;
		overflow: hidden;
	}
}