#modalQuestion.modal
	.modal__wrap

		.modal__close(data-modal-close)
			+svg('close', 'modal__close-icon')

		.modal__head
			.title.title_size_lg.modal__title Задать вопрос
		.modal__body
			hr.mb-30
			form
				.row.mb-neg-15.mb-neg-sm-30
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='Имя *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='tel' placeholder='Телефон *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='email' placeholder='E-mail *')
					.col-md-6.mb-15.mb-sm-30
						textarea.input(placeholder='Вопрос *')
					.col-md-4.mb-15.mb-sm-30
						input.btn.btn_size_lg.btn_text_lg.btn_wide.upper(type='button' value='Задать')
					.col-md-8.mb-15.mb-sm-30
						.text-xs ВНИМАНИЕ: Все лица, заполнившее сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями, подтверждают свое согласие на обработку своих персональных данных, их передачу и хранение оператору обработки персональных данных. По персональными данными понимается следующая информация, используемая на данном сайте: имя, фамилия, отчество, телефон, адрес электронной почты. Гражданин, отправляя свои данные, принимает соглашение об обработке, использовании, хранении и уничтожении персональных данных компанией в соответствии с законодательством РФ. Компания хранит, обрабатывает и использует персональные данные в соответствии с действующим законодательством РФ.

#modalCallback.modal
	.modal__wrap

		.modal__close(data-modal-close)
			+svg('close', 'modal__close-icon')

		.modal__head
			.title.title_size_lg.modal__title Обратный звонок
		.modal__body
			hr.mb-30
			form
				.row.mb-neg-15.mb-neg-sm-30
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='Имя *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='tel' placeholder='Телефон *')
					.col-12.mb-15.mb-sm-30
						textarea.input(placeholder='Дополнительная информация')
					.col-md-4.mb-15.mb-sm-30
						input.btn.btn_size_lg.btn_text_lg.btn_wide.upper(type='button' value='Отправить')
					.col-md-8.mb-15.mb-sm-30
						.text-xs ВНИМАНИЕ: Все лица, заполнившее сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями, подтверждают свое согласие на обработку своих персональных данных, их передачу и хранение оператору обработки персональных данных. По персональными данными понимается следующая информация, используемая на данном сайте: имя, фамилия, отчество, телефон, адрес электронной почты. Гражданин, отправляя свои данные, принимает соглашение об обработке, использовании, хранении и уничтожении персональных данных компанией в соответствии с законодательством РФ. Компания хранит, обрабатывает и использует персональные данные в соответствии с действующим законодательством РФ.

#modalRequest.modal
	.modal__wrap

		.modal__close(data-modal-close)
			+svg('close', 'modal__close-icon')

		.modal__head
			.title.title_size_lg.modal__title Заявка на %имя_продукта%
		.modal__body
			hr.mb-30
			form
				.row
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='Название компании *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='ФИО контактного лица *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='Область/страна *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='email' placeholder='Электронная почта *')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='text' placeholder='Продукция (тут должен быть селект)')
					.col-md-6.mb-15.mb-sm-30
						input.input(type='tel' placeholder='Телефон *')
				hr.mb-15.mb-sm-30
				.row
					.col-md-8.order-md-1.mb-15.mb-sm-30
						textarea.input(placeholder='Дополнительная информация')
					.col-md-4.mb-15.mb-sm-30
						input.btn.btn_size_lg.btn_text_lg.btn_wide.upper(type='button' value='Отправить')
				.text-xs ВНИМАНИЕ: Все лица, заполнившее сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями, подтверждают свое согласие на обработку своих персональных данных, их передачу и хранение оператору обработки персональных данных. По персональными данными понимается следующая информация, используемая на данном сайте: имя, фамилия, отчество, телефон, адрес электронной почты. Гражданин, отправляя свои данные, принимает соглашение об обработке, использовании, хранении и уничтожении персональных данных компанией в соответствии с законодательством РФ. Компания хранит, обрабатывает и использует персональные данные в соответствии с действующим законодательством РФ.